.SideDrawer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 7;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.8);
  // display: grid;
  // grid-template: 1fr 1fr 1fr 1fr;
  // grid-auto-rows: 1fr 1fr 1fr 1fr;
  // justify-items: stretch;
  // align-items: stretch;

  // .Box1 {
  //   background-color: #eee;
  //   border: 1px solid green;
  //   box-sizing: border-box;
  //   grid-column: 1/4;
  //   grid-row: 1/4;
  // }


  .BackWindowPlayer {
    color: white;
    font-size: 38px;
    transition: background-color 0.1s linear, color 1s linear;
    cursor: pointer;

    & :hover {
      color: red;
      transition: background-color 0.1s linear, color 1s linear;
    }
  }

  .Description{
    color:white;
  }
}

.Open {
  // transform: translateX(0);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.Close {
  // transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
