.Search {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  margin-top: 101px;

  @media (max-width: 576px) {
    margin-top: 14px;
  }
  input {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 35%;
    background: transparent;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border: 2px solid rgba(245, 245, 241, 0.1);
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    pointer-events: all;
    transition: border 0.25s ease, width 0.125s ease 0.125s;

    @media (max-width: 576px) {
      width: 80%;
    }
  }

  input:focus {
    border: 2px solid #e50914;
    width: 45%;

    @media (max-width: 576px) {
      width: 90%;
    }
  }
}

.Dark {
  .Search {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    margin-top: 101px;
  
    @media (max-width: 576px) {
      margin-top: 14px;
    }
    input {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 14px;
      height: 37px;
      width: 35%;
      background: transparent;
      color: #000000;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      border: 1px solid #ababab;
      outline: none;
      border-radius: 37px;
      padding: 0 10px;
      pointer-events: all;
      transition: border 0.25s ease, width 0.125s ease 0.125s;
  
      @media (max-width: 576px) {
        width: 80%;
      }
    }
  
    input:focus {
      border: 2px solid #e50914;
      width: 45%;
  
      @media (max-width: 576px) {
        width: 90%;
      }
    }
  }
  
}