body {
  background-color: #221f1f;
  overflow-x: hidden;
  transition: background-color 0.4s linear;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    opacity: 0.1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(199, 199, 199, 0.5);
  }

  &.Dark{
    background-color: rgb(255, 255, 255);
    transition: background-color 0.4s linear;
  }
}
